@import "./iconfont.scss";
.topnavAndBanner {
    z-index: -200;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 30vh;
    background: linear-gradient(145deg, rgba(227, 255, 253, 1) 0%, rgba(183, 233, 230, 1) 100%);
    clip-path: ellipse(80% 60% at 50% 40%);
}

.logo {
    text-decoration: none;
    background-color: transparent;
}

.loadEffect {
    width: 100px;
    height: 100px;
    position: relative;
    margin: 0 auto;
    margin-top: 100px;
}

.loadEffect span {
    display: inline-block;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background: lightgreen;
    position: absolute;
    -webkit-animation: load 1.04s ease infinite;
}

.loading {
    width: 80px;
    height: 40px;
    margin: 0 auto;
    margin-top: 100px;
}

.loading span {
    display: inline-block;
    width: 8px;
    height: 100%;
    border-radius: 4px;
    background: lightgreen;
    -webkit-animation: load 1s ease infinite;
}

@-webkit-keyframes load {
    0%,
    100% {
        height: 40px;
        background: lightgreen;
    }
    50% {
        height: 70px;
        margin: -15px 0;
        background: lightblue;
    }
}

.loading span:nth-child(2) {
    -webkit-animation-delay: 0.2s;
}

.loading span:nth-child(3) {
    -webkit-animation-delay: 0.4s;
}

.loading span:nth-child(4) {
    -webkit-animation-delay: 0.6s;
}

.loading span:nth-child(5) {
    -webkit-animation-delay: 0.8s;
}

.site-navigation {
    margin-top: 15px;
    margin-left: 10px;
}

.route {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

// .adsbygoogle {
//     position: fixed;
//     bottom: 0;
// }
.skeletonBg,
.skeletonStrip {
    background: linear-gradient(90deg, #f2f2f2 25%, #e6e6e6 37%, #f2f2f2 63%);
    background-size: 400% 100%;
    animation: ant-skeleton-loading 1.4s ease infinite;
    border-radius: 6px;
}

@keyframes ant-skeleton-loading {
    0% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0 50%;
    }
}

.app-footer {
    max-width: 540px;
    padding: 0 10px;
    margin: 16px auto 60px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    opacity: 1;
    .about-us {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        &.ufreedom {
            margin-right: 20px;
        }
        &.jump {
            margin-left: 20px;
        }
    }
}

// 帧动画
.fade-enter {
    opacity: 0;
}

.fade-enter.fade-enter-active {
    opacity: 1;
    transition: opacity 300ms ease-in;
}

.fade-exit {
    opacity: 1;
}

.fade-exit.fade-exit-active {
    opacity: 0;
    transition: opacity 300ms ease-in;
}

@media screen and (min-width: 300px) {
    body {
        .app-footer {
            flex-direction: column;
            justify-content: center;
            align-items: center;
            .about-us {
                &.ufreedom {
                    margin: 30px 0;
                }
                &.jump {
                    margin: 30px 0;
                }
            }
        }
    }
}


/* iphoneX */

@media screen and (min-width: 375px) and (-webkit-device-pixel-ratio: 3) {
    body {
        .app-footer {
            flex-direction: column;
            justify-content: center;
            align-items: center;
            .about-us {
                &.ufreedom {
                    margin: 30px 0;
                }
                &.jump {
                    margin: 30px 0;
                }
            }
        }
    }
}


/* iphone6 7 8 plus */

@media screen and (min-width: 414px) {
    body {
        .app-footer {
            flex-direction: column;
            justify-content: center;
            align-items: center;
            .about-us {
                &.ufreedom {
                    margin: 30px 0;
                }
                &.jump {
                    margin: 30px 0;
                }
            }
        }
    }
}


/* ipad */

@media screen and (min-width: 768px) {
    body {
        .app-footer {
            flex-direction: row;
            justify-content: center;
            align-items: flex-end;
            opacity: 1;
            .about-us {
                &.ufreedom {
                    margin-right: 20px;
                }
                &.jump {
                    margin-left: 20px;
                }
            }
        }
    }
}


/* ipad pro */

@media screen and (min-width: 1024px) {
    body {
        .app-footer {
            flex-direction: row;
            justify-content: center;
            align-items: flex-end;
            opacity: 1;
            .about-us {
                &.ufreedom {
                    margin-right: 20px;
                }
                &.jump {
                    margin-left: 20px;
                }
            }
        }
    }
}


/* pc */

@media screen and (min-width: 1100px) {
    body {
        max-width: 1100px;
        margin: auto;
        .app-footer {
            flex-direction: row;
            justify-content: center;
            align-items: flex-end;
            opacity: 1;
            .about-us {
                &.ufreedom {
                    margin-right: 20px;
                }
                &.jump {
                    margin-left: 20px;
                }
            }
        }
    }
}